body{
    background: #dedede;
}
.gamer{
    position:absolute;
    background-color: #f00;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px;
    text-align: center;
}
.bullet{
    position:absolute;
    background-color: #0f0;
    width: 10px;
    height: 10px;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    display: none;
}
.battlefield{
    position: absolute;
    width: 500px;
    height: 500px;
    background: #fff;
    top:50%;
    left:50%;
    margin: -250px 0 0 -250px;
}
