*{
    box-sizing: border-box;
}
body{
    background: #dedede;
}
.gamer{
    position:absolute;
    background-color: #f00;
/*    width: 50px;
    height: 50px;*/
    top: 0px;
    left: 0px;
    text-align: center;
    padding: 15px 0;
    border-radius: 3px;
}
.bullet{
    /*margin: -5px 0 0 -5px;*/
    position:absolute;
    background-color: #0f0;
/*    width: 10px;
    height: 10px;*/
    top: 0px;
    left: 0px;
    border-radius: 50%;
    display: block;
}
.battlefield{
    position: fixed;
    width: 500px;
    height: 500px;
    background: #fff;
    top:50%;
    left:50%;
    margin: -250px 0 0 -250px;
    border-radius: 3px;
    box-shadow: 0px 15px 50px -5px rgba(0,0,0,0.3);
}
.score-table{
    position: absolute;
    width: 130px;
    height: 100%;
    top:0px;
    left:100%;
    padding: 15px;
}
.score-table .score{
    display: block;
}